@font-face {
font-family: "StatDisplayPro";
src: url('/font/StatDisplayPro-Regular.woff2') format('woff2'),
	 url('/font/StatDisplayPro-Regular.woff') format('woff');
	 font-weight: normal;
	 font-style: normal;
}

$stat: 'StatDisplayPro';